/**
  Dashboard Syoak
**/
@font-face {
  font-family: "Futura HV";
  src: url("../fonts/Futura_HV.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura MD";
  src: url("../fonts/Futura_MD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura BK";
  src: url("../fonts/Futura_BK.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

html {
  height: 100%; }

body {
  background-color: #F8F8F8;
  height: 100%; }

button:focus {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura HV';
  margin: 0; }

h1 {
  font-size: 61.04px;
  line-height: 1.37; }
  @media (max-width: 991px) {
    h1 {
      font-size: 48px; } }
  @media (min-width: 576px) {
    h1 {
      font-size: 38px; } }

h3 {
  font-size: 25px;
  color: #35384D; }

h4 {
  font-size: 20px;
  color: #35384D; }

p {
  margin: 0; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

a:focus {
  outline: 0; }

.container-fluid {
  padding-left: 85px;
  padding-top: 28px; }
  @media (max-width: 991px) {
    .container-fluid {
      padding-top: 40px; } }
  @media (max-width: 768px) {
    .container-fluid {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 40px; } }

.navbar {
  border-bottom: 1px solid #E6E6E6;
  background-color: #F8F8F8; }
  @media (max-width: 768px) {
    .navbar {
      display: none; } }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 85px 10px 0;
  background-color: white; }
  .sidebar__item {
    margin-bottom: 15px; }
  .sidebar__link {
    padding: 15px; }
    .sidebar__link--selected {
      background-color: #FF7616;
      border-radius: 10px; }
      .sidebar__link--selected svg path {
        fill: white; }
  @media (max-width: 768px) {
    .sidebar {
      display: none; } }

.button {
  display: block;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
  padding: 10px; }
  .button--text-color {
    color: #fff !important; }
  .button--lrg {
    width: 235px; }
  .button--primary {
    background-color: #0052B4; }
    .button--primary:hover {
      background-color: #054797; }
  .button--next {
    background-size: 10px;
    background-image: url("../../images/icons/arrow_next.svg");
    background-repeat: no-repeat; }
  .button--dropdown {
    background-size: 10px;
    background-image: url("../../images/icons/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 0px 0px 35px; }

.card {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.0250765); }
  .card__list {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card__list__image {
      padding-right: 15px; }
    .card__list__name {
      width: 100%;
      max-width: 125px;
      min-width: 0px; }
    .card__list__address {
      width: 100%;
      max-width: 250px;
      min-width: 0px; }
    .card__list--padding {
      padding: 23px 0px; }
  .card--no-bg {
    background-color: transparent; }
  .card--no-br {
    border: none; }
  .card--selected {
    height: 235px;
    background-color: #0052B4; }
  @media (max-width: 991px) {
    .card {
      border-radius: 12.8px;
      margin-bottom: 20px; } }

.sales-report {
  padding: 15px; }
  .sales-report__custom-tr {
    cursor: pointer;
    transition: 0.2s ease-in; }
    .sales-report__custom-tr:hover {
      background-color: #fff;
      box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03); }
  @media (max-width: 768px) {
    .sales-report {
      margin-top: 48px; } }

.mobile-menu {
  display: none;
  padding: 17px 10px;
  align-items: center; }
  @media (max-width: 768px) {
    .mobile-menu {
      display: flex; } }
  .mobile-menu .hamburger {
    padding: 0px 0px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .mobile-menu .hamburger :focus {
      outline: 0 !important; }
  .mobile-menu .hamburger-box {
    width: 35px;
    height: 14px;
    display: inline-block;
    position: relative; }
    .mobile-menu .hamburger-box span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #FF7616;
      border-radius: 3px; }

.d--in-t {
  display: inline-table; }

.d--f {
  display: flex; }

.d--b {
  display: block; }

.justify--content--btw {
  justify-content: space-between; }

.justify--content--unset {
  justify-content: unset; }

.pos--rel {
  position: relative; }

.pos--fix {
  position: fixed; }

.pos--abs {
  position: absolute; }
  .pos--abs--right {
    right: 0; }
  .pos--abs--center {
    top: 50%;
    bottom: 50%; }

.text--small {
  font-size: 13px; }

.text--normal {
  font-size: 16px; }

.text--big {
  font-size: 20px; }

.text--wght--regular {
  font-family: 'Futura BK';
  font-weight: 500; }

.text--wght--medium {
  font-family: 'Futura MD'; }

.text--wght--heavy {
  font-family: 'Futura HV'; }

.text--color--base {
  color: #9DA8B6; }

.text--color--selected {
  color: #fff; }

.text--color--rise {
  color: #5BB09C; }

.text--color--fall {
  color: #DD4545; }

.text--color--tittle {
  color: #35384D; }

.text--color--blue {
  color: #0052B4; }

.text--align--center {
  text-align: center; }

.text--align--right {
  text-align: right; }

.spacer--down--xsml {
  margin-bottom: 15px; }

.spacer--down--sml {
  margin-bottom: 25px; }

.spacer--down--med {
  margin-bottom: 48px; }

.spacer--up--sml {
  margin-top: 25px; }

.spacer--up--med {
  margin-top: 48px; }

.spacer--up--lrg {
  margin-top: 103px; }
  @media (max-width: 991px) {
    .spacer--up--lrg {
      margin-top: 20px; } }

.spacer--left--lrg {
  margin-left: 88px; }

.spacer--center {
  margin-left: auto;
  margin-right: auto; }

.pg--reset {
  padding: 0; }

.pg--all--xxs {
  padding: 10px; }

.pg--all--xs {
  padding: 15px; }

.pg--all--s {
  padding: 20px; }

.pg--all--med {
  padding: 40px; }
  @media (max-width: 991px) {
    .pg--all--med {
      padding: 15px; } }

.pg--all--lrg {
  padding: 55px; }

.pg--all--not--down {
  padding: 40px 40px 0px 40px; }
  @media (max-width: 991px) {
    .pg--all--not--down {
      padding: 15px; } }

.pg--top--xxs {
  padding-top: 10px; }

.pg--top--xs {
  padding-top: 15px; }

.pg--top--s {
  padding-top: 20px; }

.pg--top--med {
  padding-top: 40px; }

.pg--top--lrg {
  padding-top: 55px; }

.pg--right--xxs {
  padding-right: 10px; }

.pg--right--xs {
  padding-right: 15px; }

.pg--right--s {
  padding-right: 20px; }

.pg--right--m {
  padding-right: 25px; }

.pg--left--xxs {
  padding-left: 10px; }

.pg--left--xs {
  padding-left: 15px; }

.pg--left--s {
  padding-left: 20px; }

.pg--left--m {
  padding-left: 25px; }

.pg--left--lrg {
  padding-left: 85px; }

.border--all {
  border-radius: 10px; }

.border--down--left--right {
  border-bottom-left-radius: 12.8px;
  border-bottom-right-radius: 12.8px; }

.col-sm-1 {
  flex: 0 0 70px !important;
  max-width: 70px !important; }

.table th, .table td {
  padding: 25px 8px;
  border: none; }

.table thead th {
  border: none; }
