.pg {
  &--reset {
    padding:0;
  }
  &--all {
    &--xxs {
      padding: 10px;
    }
    &--xs {
      padding: 15px;
    }
    &--s {
      padding: 20px;
    }
    &--med {
      padding: 40px;
      @include lrg {
        padding: 15px;
      }
    }
    &--lrg {
      padding: 55px;
    }
    &--not--down {
      padding: 40px 40px 0px 40px;
      @include lrg {
        padding: 15px;
      }
    }
  }

  &--top {
    &--xxs {
      padding-top: 10px;
    }
    &--xs {
      padding-top: 15px;
    }
    &--s {
      padding-top: 20px;
    }
    &--med {
      padding-top: 40px;
    }
    &--lrg {
      padding-top: 55px;
    }
  }

  &--right {
    &--xxs {
      padding-right: 10px;
    }
    &--xs {
      padding-right: 15px;
    }
    &--s {
      padding-right: 20px;
    }
    &--m {
      padding-right: 25px;
    }
  }
  &--left {
    &--xxs {
      padding-left: 10px;
    }
    &--xs {
      padding-left: 15px;
    }
    &--s {
      padding-left: 20px;
    }
    &--m {
      padding-left: 25px;
    }
    &--lrg {
      padding-left: 85px;
    }
  }
}
