.spacer {
  &--down {
    &--xsml {
      margin-bottom: 15px;
    }
    &--sml {
      margin-bottom: 25px;
    }
    &--med {
      margin-bottom: 40px;
    }
  }
  &--up {
    &--sml {
      margin-top: 25px;
    }
  }
  &--left {
    &--lrg {
      margin-left: 85px;
    }
  }
  &--center {
      margin-left: auto;
      margin-right: auto;
  }
}
