.spacer {
  &--down {
    &--xsml {
      margin-bottom: 15px;
    }
    &--sml {
      margin-bottom: 25px;
    }
    &--med {
      margin-bottom: 48px;
    }
  }
  &--up {
    &--sml {
      margin-top: 25px;
    }
    &--med {
      margin-top: 48px;
    }
    &--lrg {
      margin-top: 103px;
      @include lrg {
        margin-top: 20px;
      }
    }
  }
  &--left {
    &--lrg {
      margin-left: 88px;
    }
  }
  &--center {
      margin-left: auto;
      margin-right: auto;
  }
}
